// Fade эффект
/* Стили для анимации появления и исчезновения */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s; /* Устанавливаем время анимации на 0.5 секунды */
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0; /* Начальное состояние анимации (прозрачность элемента 0) */
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1; /* Конечное состояние анимации (прозрачность элемента 1) */
}